<div class="btn-group" dropdown [isDisabled]="isDisabled">
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    Button Dropdown <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Third</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Last</a></li>
  </ul>
</div>

<pfng-toast-notification
  [header]="'test header'"
  [message]="'this is a notification'"
  [showClose]="'true'"
  [type]="'success'">
</pfng-toast-notification>